/**************** body and tag styles ****************/
	body {
	  margin-top: 0px;	  
	  margin-bottom: 30px;
          background-color: #333333;
	  }
    h1, h2, h3, #container, #container2, #footer, #content, #footer { font-family: 'Trebuchet MS', Calibri, Verdana, "Bitstream Vera Sans", sans-serif; }

	#container {
	  width: 900px;
	  margin: 2px auto;
	  font-size: 14px;
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #666666;

	  }
	  
	#container2 {
	  width: 900px;
	  margin: 0 auto;
	  font-size: 14px;
	  line-height: 1.6em;
	  color: #efefef;
	  background-color: #666666;
	  border: solid #110000;
          border-width: 0 1px 1px 1px;
	  }
		
	h1 {
	  font-family: "Courier New", Monospace;
	  font-weight: normal;
	  font-size: 32px;
	  color: #efefef;
	  margin-bottom: 30px;
	  background-color: #666666;
          padding-left: 35px;
	  }
		
	h2 {
	  color: #efefef;
	  font-size: 140%;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #999999;
          padding-left: 20px;
          border:  solid #000000;
          border-width: 1px 1px 1px 1px;
	  }
		
	a {
	  color: #767FD7;
          text-decoration: none;
	  font-weight: bold;
	  }

	a:hover {
      color: #555551;
	  font-weight: bold;
	  text-decoration: underline;
	  }

/**************** images styles ****************/		
	a img{
	  border:none;
	  }

	img.left,img.center,img.right {
	  padding: 4px;
	  }

	img.left {
	  float: left;
	  margin: 0 12px 5px 0;
	  }

	img.center {
	  display: block;
	  margin: 0 auto 5px auto;
	  }

	img.right {
	  float: right;
	  margin: 0 0 5px 20px;
	  }

/**************** form styles ****************/
	form {
	  float:right;
	  font-size: 9px;
	  }
		
	input {
	  background-color: #FFFFFF;
	  color: #999999;
	  border: 1px solid #2763A5;
	  font-size: 11px;
	  padding: 3px;
	  }
		
	.button {
	  padding: 2px;
	  background-color: #6DA6E2;
	  color: #FFFFFF;
	  border: 1px solid #2763A5;
	  font-size: 11px;
	  }

/**************** header styles ****************/
	#header {
	  width: 900px;
	  padding-bottom: 1px;
	  padding-top: 1px;
	  clear: both;
          border-top: solid #110000;
          border-left: solid #110000;
          border-right: solid #110000;
          border-width: 1px 1px 0 1px;
          background-color: #666666;
}
	#header p { 
	  margin-top: -20px;
	  margin-left: 60px;
	  color: #efefef;
	  }

/**************** menu styles ****************/
        ul.navbar {
         list-style-type:none;
         float:left;
         display:inline; 
         width:100%; 
         line-height:1px; 
         clear:both;
         padding:0;
         background-color:#555551;
         border-left: 1px solid #110000;
         border-right: 1px solid #110000;
         border-top: 1px solid #110000;
         border-bottom: 3px solid #110000;
         margin-left:-0px;
}

        ul.navbar li {
         display:inline;
         margin-right:0px;
}

        a.nav:link, a.nav:visited {
         display:block; 
         float:left; 
         width:24.5%; 
         padding:1em 2px 1em 0; 
         margin:0; 
         text-decoration:none; 
         background-color:#555551; 
         color:#FFFFFF;
         text-align: center;
         border-right: 1px solid #eeeeee;
         border-left: 1px solid #eeeeee;
}

        a.nav:hover {
         display:block; 
         float:left; 
         width:24.5%; 
         padding:1em 2px 1em 0; 
         margin:0; 
         text-decoration:none; 
         background-color:#333333; 
         color:#FFFFFF;
         border-right: 1px solid #dddddd;
         border-left: 1px solid #dddddd;
}

        a.nav:active {
         display:block; 
         float:left; 
         width:24.5%; 
         padding:1em 0 1em 0; 
         margin:0; 
         text-decoration:none; 
         background-color:#999999; 
         color:#FFFFFF;
}


/**************** content styles ****************/
	#content {
	  width: 810px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 5px;
	  float: left;
          margin-top: 5px;
	  }
		
	#content p {
	  padding-bottom: 10px;
      font-size: 9pt;
	  }
    
    #content blockquote { 
        font-family: "Helvetica,Arial,FreeSans"; 
        font-size: 1.2em; 
        margin-bottom: 10px; 
        margin-top: 10px; 
        font-style: italic;
    }
	  
/**************** sidebar styles ****************/
	#sidebar {
	  width: 188px;
	  padding-left: 21px;
	  padding-right: 10px;
	  padding-top: 5px;
	  float: right;
          border-left: 1px solid #dddddd;
          margin-top: 5px;
	  }
		
	#sidebar p {
	  padding-bottom: 10px;
	  border-bottom: 1px solid #DDDDDD;
	  }
	  
/**************** footer styles ****************/
	#footer {
	  margin-top: 15px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 2px;
	  padding-right: 2px;
	  clear: both;
	  width: 900px;
	  background-color:#222224;
          border-top: 1px solid #000000;
	  }
		
	#footer p {
	  color:#efefef;
	  padding: 5px;
	  text-align: center;
	  }
		
	#footer p a {
	  color: #efefef;
	  font-weight:100;
	  }
		
	#footer p a:hover {
	  color: #dddddd;
	  text-decoration: none;
	  }

/**************** code styles ****************/
    pre {
        font-size: 12px;
        padding 0;
        margin-top 5px;
        margin-bottom 5px;
        background: #f0f0f0;
        border-left: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        line-height: 20px; /*--Height of each line of code--*/
        background: url(http://gregf.github.com/athenry/images/codebg.gif) repeat-y left top; /*--Background of lined paper--*/
        width: 600px;
        overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
        overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
    }
        
        pre code {
            margin: 0 0 0 40px;  /*--Left Margin--*/
            padding: 18px 0;
            display: block;
        }
